{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-success">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn btn-sm btn-secondary" type="reset">Annuler</button>
    <a class="btn btn-sm btn-primary" href="{{ path('products_index') }}">Retour à la liste des produits</a>
{{ form_end(form) }}
