{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Prix</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>
                    <a data-lightbox="{{ product.image }}" data-title="{{ product.title }}" href="../uploads/{{ product.image }}">
                        <img src="../uploads/{{ product.image }}" alt="{{ product.title }}" class="img-fluid" style="max-width: 50px; width: 100%;">
                    </a>
                </td>
                <td>{{ product.price|format_currency('EUR', locale='fr') }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('products_show', {'id': product.id}) }}"><i class="bi bi-eye-fill"></i></a>
                    <a class="btn btn-sm btn-warning" href="{{ path('products_edit', {'id': product.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td>
                    {{ include('products/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-success" href="{{ path('products_new') }}">Créer un nouveau produit</a>
{% endblock %}
